@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-width: 600px;
  min-height: 100%;
}

.app-container {
  padding: 20px;
  .filter-container{
    padding-bottom: 10px;
    .filter-item{
      display: inline-block;
      margin-bottom: 10px;
      vertical-align: middle;
    }
    .el-input--medium{
      font-size: 14px;
    }
    .el-input{
      width: 200px;
    }
  }
}

.btn-return{
  position: absolute;
  right: 25px;
  font-weight: 700;
  z-index: 100;
}

.el-scrollbar__view{
  .el-select-dropdown__item{
    span{
      white-space:pre;
    }
  }
}

.grade1{
  display: block;
  background: #f4f4f5;
  padding: 0 10px;
}
.grade2{
  padding-left: 35px !important;
  display: block;
}

.grade3{
  width: auto !important;
  padding-left: 15px !important;
}
.first{
  margin-left: 50px !important;
}